@use 'sass:math';
@use 'variables';

// função da grade
@function grid($column, $offset: false) {
	$width: math.div($column, variables.$columns) * 100%;
	$result: calc(#{$width} - #{variables.$gutter});
	@if $offset == offset {
		$gutter: math.div(variables.$gutter, 2);
		$result: calc(#{$width} + #{variables.$gutter});
	}
	@return $result;
}
