@use 'mixins';
@use 'functions';
@use 'variables';

@use 'sass:math';


// dimensionamento da caixa
*, *::after, *::before {
	box-sizing: border-box;
}

// produção das classes da grade
@for $column from 1 through variables.$columns {
	.grid-#{$column} {
		width: functions.grid($column);
	}
}

[class^="grid-"] {
	@include mixins.grid-structure;
}

// produção de classes de compensação
@for $column from 1 through variables.$columns {
	.offset-#{$column} {
		margin-left: grid($column, offset);
		@extend %offset;
	}
}

@include mixins.device(small) {
	%offset {
		margin-left: 0;
	}
}

.container {
	@include mixins.container;
}

.row {
	@include mixins.row;
}