@use 'mixins';
@use 'variables';


.intro {
	margin-top: 60px;

	@include mixins.device(small) {
		margin-top: 20px;
	}
}

.logo {
	margin-bottom: 60px;
}

.intro-info {
	max-width: 320px;
	border-right: 2px solid variables.$cinza;

	p {
		padding-top: 10px;
	}

	p:first-child {
		padding-bottom: 10px;
		border-bottom: 2px solid variables.$cinza;
	}
}

.intro-telefone {
	color: variables.$bege-escuro;

	@include mixins.device(small) {
		margin-bottom: 40px;
	}

	&::after {
		display: block;
		font-size: 220px;
		color: variables.$cinza;
		margin-top: 200px;
		content: '/ / / /';
		letter-spacing: -90px;

		@include mixins.device(medium) {
			margin-top: 80px;
			font-size: 160px;
			letter-spacing: -70px;
		}

		@include mixins.device(small) {
			display: none;
		}
	}
}

.aberto {
	width: 12px;
	height: 12px;
	margin-left: 30px;
	border-radius: 50%;
	display: inline-block;
	background-color: variables.$verde;
}