// cores
$cinza: #2a2426;
$verde: #1ab912;
$bege-claro: #edece4;
$bege-medio: #cbc6b9;
$bege-escuro: #988c77;

// fontes
$fonte-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

// variaveis da grade
$columns: 12;
$gutter: 20px;
$small-device: 480px;
$medium-device: 760px;
$large-device: 1200px;